/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #616869, #758082, #8b8e8f, #9aa3a6, #a5abad);
    font-family: "Gill Sans", sans-serif;
}

.container {
    max-width: 800px;
}

.header {
    text-align: center;
}

.header img {
    margin: 30px auto;
    max-width: 300px;
}
